@media only screen and (max-width:768px) {
    .fa-bars{
        color: #fff;
    }
    .logo{
        a{
            font-size: 1rem;
        }
    }
    .navigation{
        background-color: #fff;
        color: #000;
        .navbar-brand{
            color:#000;
        }
    }
    .nav{
        .fa-bars{
            display: block;
        }
        a{
            display: none;
        }
        select{
            display: none;
        }
    }
    .about__content{
        img{
            transform: scale(1);
        }
    }
    .offer{
        form{
            input{
                display: block;
                width: 100%;
                margin-bottom: 1rem;
            }
            button{
                width: 30%;
            }
        }
    }
    .menu{
        .img{
            width: 40%;
            img{
                margin-bottom: 1rem;
            }
        }
    }
    .footer{
        form{
            input{
                display: block;
                width: 100%;
                margin-bottom: 1rem;
            }
        }
    }
}