@import './_global';
@mixin card (){
    width: 100%;
    padding: 4rem 0;
}
@mixin grid($repeat){
    display: grid;
    grid-template-columns: $repeat;
}
@mixin btn($bgc, $color, $bgcolor, $blue){
    padding: 20px 4rem;
    background-color: $bgc;
    color: $color;
    border: 0;
    outline: 0;
    text-transform: capitalize;
    font-size: 1.5rem;
    transition: all 0.5s linear;
    &:hover{
        background-color: $bgcolor;
        color: $blue;
    }
}
#header{
    width: 100%;
    height: auto;
   background-image: url(/img/carousel-1.jpg);
    background-size: cover;
    .navigation{
        width: 100%;
        height: 10vh;

        .container-fluid{
            width: 100%;
            height: 10vh;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .navbar-brand{
                color: #fff;
            }
            .navbar-nav{
                .nav-link{
                    color: #fff;
                    transition: all 0.5s linear;
                    &:hover{
                        color: #D49A59;
                        text-decoration: solid;
                    }
                }
                .fa-bars{
                    color: #fff;
                    display: none;
                }
                select{
                    background: none;
                    color: #fff;
                    border: 0;
                    outline: 0;
                }
            }
        }
     
        }
    }
#overlay{
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
}
.banner{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1{
        font-size: 5rem;
    }
    h3{
        font-size: 1.2rem;
        color:#D49A59;
    }
}
.hr{
    border-left: 3px solid #000;
    width: 3px;
    height: 20vh;
    margin: 0 auto;
    border-color: #D49A59;
}
.about{
    @include card();
    h3{
        color: #D49A59;
    }
    h2{
        font-size: 3rem;
    }
}
.about__content{
    p{
        opacity: 0.8;
    }
    img{
        transform: scale(1.4);
    }
}
.services{
    @include card();
    h3{
        color: #D49A59;
    }
    h2{
        font-size: 3rem;
    }
}
.services__content{
    .fa-solid{
        padding: 15px 15px;
        border-radius: 100%;
        background-color: #D49A59;
        font-size: 1.3rem;
        text-align: center;
    }
}
#overlay{
    padding: 2rem;
}
.offer{
  width: 100%;
    background-image: url(/img/bg.jpg);
    h2{
        font-size: 5rem;
        color: #D49A59;
    }
    form{
        input{
            width: 20%;
            height: 10vh;
            text-indent: 10px;
            outline: 0;
            border: 0;
        }
        button{
            margin-left: -5px;
            height: 10vh;
            border: 0;
            width: 10%;
            outline:0;
            background-color: red;
            text-transform: capitalize;
            color: #fff
        }
    }
}
.menu{
    @include card();
    h3{
        color: #D49A59;
    }
    h2{
        font-size: 3rem;
    }
    .img{
        width: 70%;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        span{
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px 15px;
            background-color: #D49A59;
            border-radius: 100%;
        }
    }
}
.contact__content{
    background-image: url(/img/bg.jpg);
    color: #fff;
    a{
        color: #fff
    }
    h2{
        color: #D49A59;
        font-size: 3rem;
    }
    form{
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #33211D;
        padding: 2rem;
        input{
            width: 100%;
            height: 10vh;
            margin-bottom: 1rem;
            border: 1px solid #D49A59;
            color: #D49A59;
            outline: 0;
            text-indent: 10px;
            background: none;
        }
        select{
            width: 100%;
            height: 10vh;
            margin-bottom: 1rem;
            border: 1px solid #D49A59;
            color: #D49A59;
            outline: 0;
            text-indent: 10px;
            background: none;
        }
    }
}
.testimonial{
    @include card();
    h3{
        color: #D49A59;
    }
    h2{
        font-size: 3rem;
    }
    p{
        opacity: 0.5;
    }
}
.footer{
    width: 100%;
    background-image: url(/img/bg.jpg);
    background-size: cover;
    color: #fff;
}
.footer__content{
    form{
        input{
            height: 10vh;
            text-indent: 10px;
            outline: 0;
            border: 0;
        }
        button{
            margin-left: -5px;
            height: 10vh;
            background-color: red;
            border: 0;
            outline: 0;
            text-transform: capitalize;
            width: 30%;
        }
    }
}
.copy{
    width: 100%;
    padding: 2rem 0;
    border-top: 1px solid #000;
    border-width: 100%;
    margin-top: 2rem;
    text-align: center;
    a{
        color: #fff;
        transition: all 0.5s linear;
        &:hover{
            color: #D49A59;
            text-decoration: solid;
        }
    }
}